<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="./../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="mj"><img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg?w=5120&h=240" alt=""></div>
    <header>
        <ul class="header_left">
            <li><a href="./list.html">小米商城</a></li>
            <li><a href="./list.html">MIUI</a></li>
            <li><a href="./list.html">loT</a></li>
            <li><a href="./list.html">云服务</a></li>
            <li><a href="./list.html">天星数科</a></li>
            <li><a href="./list.html">有品</a></li>
            <li><a href="./list.html">小爱开放平台</a></li>
            <li><a href="./list.html">企业团购</a></li>
            <li><a href="./list.html">资质证照</a></li>
            <li><a href="./list.html">协议规则</a></li>
            <li><a href="./list.html" class="down">下载app</a>y8
                <div class="load">
                    <img src="../img/ewm.png" alt="">
                    小米商城APP
                </div>                       
            </li>
            <li><a href="">智能生活</a></li>
            <li><a href="">Select Location</a></li>
        </ul>
        <ol class="header_right">
            <li>
                <a class="off" href="./login.html">登录</a>
                <a class="on hide" href="./login.html"></a>
            </li>
            <li><a href="./zhuce.html">注册</a></li>
            <li><a href="">消息通知</a></li>
            <li class="cart">
                购物车
                <div>购物车中还没有商品，赶快选购吧！</div>
            </li>
        </ol>
    </header>
    <main>

        <div class="main_header container">
            <a href=""><img src="../img/logo.jpg" alt=""></a> 
            
            <ul>
                <li>小米手机</li>
                <li>Redmi 红米</li>
                <li>电视</li>
                <li>笔记本</li>
                <li>家电</li>
                <li>路由器</li>
                <li>智能硬件</li>
                <li>服务</li>
                <li>社区</li>
            </ul>
            <ol class="select">
                <li>
                    <div>
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/963679eaf3937351e154600ab3448460.png?thumb=1&w=200&h=138&f=webp&q=90" alt="">
                    </div>
                    <p>小米11</p>
                    <p>3999元</p>
                </li>
                <li><div>
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/b11742a0be47f9d97bb6a13ea580018d.png?thumb=1&w=200&h=138&f=webp&q=90" alt="">
                </div>
                <p>小米11</p>
                <p>3999元</p></li>
                <li><div>
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/a4a76ee684e51f0ee531ef3dc7f0aeaf.png?thumb=1&w=200&h=138&f=webp&q=90" alt="">
                </div>
                <p>小米11</p>
                <p>3999元</p></li>
                <li><div>
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/3bf20f1df3f2e22c5b29ff07634f3c59.png?thumb=1&w=200&h=138&f=webp&q=90" alt="">
                </div>
                <p>小米11</p>
                <p>3999元</p></li>
                <li><div>
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/5d19da60f9f62eb2aa5dcdbd7df19f0f.png?thumb=1&w=200&h=138&f=webp&q=90" alt="">
                </div>
                <p>小米11</p>
                <p>3999元</p></li>
            </ol>
            <div class="search">
                <input type="text" placeholder="这是个搜索框" class="search_input">
                <button class="search_button">搜索</button>
                <p class="search_tishi"></p>
            </div>
        </div>
        <div>
        <div id = "ads"> 
            <ol class="mask">
                <li>手机 电话
                    <div></div>
                </li>
                <li>电视 盒子
                    <div></div>
                </li>
                <li>笔记本 显示器
                    <div></div>
                </li>
                <li>家电 插线板
                    <div></div>
                </li>
                <li>出行 穿戴
                    <div></div>
                </li>
                <li>智能 路由器
                    <div></div>
                </li>
                <li>电源 配件
                    <div></div>
                </li>
                <li>健康 儿童
                    <div></div>
                </li>
                <li>耳机 音响
                    <div></div>
                </li>
                <li>生活 皮包
                    <div></div>
                </li>
            </ol>
        <div class="banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="./../img/0ef4160c861b998239bce9adb82341e7.webp" ></div>
                <div class="swiper-slide"><img src="./../img/9e7bd1f48d954cdf122b51ce0a8374b3.webp" ></div>
                <div class="swiper-slide"><img src="./../img/9ebff5f5c1f52f2dbdd611897adbefd4.webp" ></div>
                <div class="swiper-slide"><img src="./../img/a06c95f2d4a4440d173edca5cf0e0d00.jpg"></div>
            </div>

            <div class="swiper-pagination" style=" bottom: 10px;"></div>
            

            <div class="swiper-button-prev prev1"style="left:250px;color: #fff;font-size: 0px;"></div>
            <div class="swiper-button-next next1" style="right:10px;color: #fff;font-size: 0px;"></div>
        </div>
        <ol class="spot">
        </ol>
    </div>
    <div class="main_header_footer">
        <ul class="main_list">
            <li>
                <img src="../img/hh/a.png" alt="">
                <p>小米秒杀</p>
            </li>
            <li>
                <img src="../img/hh/b.png" alt="">
                <p>企业团购</p>
            </li>
            <li>
                <img src="../img/hh/c.png" alt="">
                <p>F码通道</p>
            </li>
            <li>
                <img src="../img/hh/d.png" alt="">
                <p>米粉卡</p>
            </li>
            <li>
                <img src="../img/hh/e.png" alt="">
                <p>以旧换新</p>
            </li>
            <li>
                <img src="../img/hh/f.png" alt="">
                <p>话费充值</p>
            </li>
        </ul>
        <ol class="main_list2">
           <li> <img src="../img/02.jpg" alt=""></li>
           <li> <img src="../img/03.jpg" alt=""></li>
           <li> <img src="../img/04.jpg" alt=""></li>
        </ol>
    </div>
    </main>
    <section class="body container">
        <p class="shop">小米闪购</p>
        <aside class="daojishi" >
            <article class="body_time">
              
            </article>
            <div class="swiper-container swiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../img/shubiao.webp" alt="">
                    <p>小米无线鼠标 Lite 黑色</p>
                    <div>简约设计，轻盈握感</div>
                    <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span>
                    </div>
                    <div class="swiper-slide"><img src="../img/shubiao.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                    <div class="swiper-slide"><img src="../img/shubiao.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                    <div class="swiper-slide"><img src="../img/shubiao.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                    <div class="swiper-slide"><img src="../img/shubiao.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                    <div class="swiper-slide"><img src="../img/shubiao.webp" alt="">
                        <p>小米无线鼠标 Lite 黑色</p>
                        <div>简约设计，轻盈握感</div>
                        <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                        <div class="swiper-slide"><img src="../img/shubiao.webp" alt="">
                            <p>小米无线鼠标 Lite 黑色</p>
                            <div>简约设计，轻盈握感</div>
                            <span><span>29元</span><del style="text-decoration: line-through;">39元</del></span></div>
                </div>

                <div class="swiper-pagination"></div>
                

            </div>
            <div class="swiper-button-prev prev2" style="font-size: 10px;"></div>
            <div class="swiper-button-next next2" style="font-size: 10px;"></div>
        </aside>
        <div class="g1" >
            <img src="../img/1610289545(1).png" alt="">
            <h1>
                <span>手机</span>
                <span>查看全部 &nbsp;&nbsp;<i class="iconfont-arrow-right-big" ></i></span>
            </h1>
            <div class="g1_list1" style="background-color: #F5F5F5;">
                <div class="g1_list_b">
                    <img src="./../img/xiaomi11.webp" alt="">
                </div>
                <div class="gi_list_x">
                    <ul></ul>
                </div>
            </div>
            <div class="g1_list2" style="background-color: #F5F5F5;">
                <div>
                    <img src="../img/1610289545(1).png" alt="">
                </div>
                <h1 class="font-lager">
                <span>家电</span>
                <span>
                    <span class="span1">热门</span>
                <span class="span2">电视影音</span>
                </span>
                </h1>
                <div class="list2">
                    <div class="list2_div">
                    </div>
                    <ul class="list2_ul">
                    </ul>
                </div>
            </div>
        </div>

        
    </section>
    <aside class="footer">
        <ul>
            <li>预约维修服务</li>
            <li>7天无理由退货</li>
            <li>15天免费换货</li>
            <li>满99包邮</li>
            <li>520余家售后网点</li>
        </ul>
        <dl>
            <dd>帮助中心</dd>
            <dt>账户管理</dt>
            <dt>购物指南</dt>
            <dt>订单操作</dt>
        </dl>
        <dl>
            <dd>服务支持</dd>
            <dt>售后政策</dt>
            <dt>自助服务</dt>
            <dt>相关下载</dt>
        </dl>
        <dl>
            <dd>线下门店</dd>
            <dt>售后政策</dt>
            <dt>自助服务</dt>
            <dt>相关下载</dt>
        </dl>
        <dl>
            <dd>关于小米</dd>
            <dt>了解小米</dt>
            <dt>加入小米</dt>
            <dt>投资者关系</dt>
            <dt>企业社会责任</dt>
            <dt>廉洁举报</dt>
        </dl>
        <dl>
            <dd>关注我们</dd>
            <dt>新浪微博</dt>
            <dt>官方微信</dt>
            <dt>联系我们</dt>
            <dt>公益基金会</dt>
        </dl>
        <dl>
            <dd>特色服务</dd>
            <dt>F码通道</dt>
            <dt>礼物码</dt>
            <dt>防伪查询</dt>
        </dl>

    </aside>

    
    <script src="../js/text.js"></script>
    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="./../node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="../js/banner.js"></script>
    <script src="./../js/banner(2).js"></script>
    
    <script src="./../js/public.js"></script>
    <script src="./../js/login.js"></script>

    
</body>
</html>