<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <body>

      <div class="info userinfo">
        <div class="panel panel-info">
          <div class="panel-heading">用户登录</div>
          <div class="panel-body">
            <form class="col-sm-12">
              <div class="form-group">
                <label for="username">用户名: </label>
                <input type="text" class="form-control" autocomplete="off" id="username" placeholder="请填写用户名">
              </div>
              <div class="form-group">
                <label for="password">密 码: </label>
                <input type="text" class="form-control" autocomplete="off" id="password" placeholder="请填写密码">
              </div>
              <button type="button" class="login btn btn-success col-sm-4">登录</button>
              <a href="./zhuce.html"><button type="button" class="register pull-right btn btn-warning col-sm-4">注册</button></a>
            </form>
          </div>
        </div>
      </div>
      <script src="../assets/jquery/jquery.min.js"></script>
       <script src="./../js/public.js"></script>
      <script src="./../js/login.js"></script>
</body>
</html>